.comment-section .comment {
  margin-right: 10px;
}
.comment-section .comment .commenter {
  height: auto;
  font-weight: bold;
}
.comment-section .comment .commenter .comment-text {
  margin-left: 7px;
  font-weight: 500;
}
.comment-section .time-posted {
  margin: 5px 0;
  color: darkgray;
}
.comment-section hr {
  margin: 0;
}
.post-container {
  width: 350px;
  margin: 40px auto;
}
.post-container .like-comment-btn {
  display: flex;
  padding: 10px 15px 0;
}
.post-container .like-comment-btn i {
  margin-right: 10px;
}
.App {
  border: 1px solid red;
  margin: 0 auto;
  width: 700px;
}
.App .search-bar {
  margin: 0 auto;
  width: 40%;
}
.App .header {
  margin: 10px auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.App .header .profile-icons {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.App .header .logo {
  width: 5%;
  font-size: 35px;
}
.App .header .logo-img {
  width: auto;
  height: 20px;
}
